<div class="feed">
  <a href="/new-kindness">
    <article>
      <p><b>+</b></p>
    </article>
  </a>

  <% @posts.reverse_each do |post| %>
    <article>
      <p><%== post['description'] %></p>
    </article>
  <% end %>

  <article>
    <p>I left some art made of flowers on a park bench.</p>
  </article>
  <article>
    <p>Someone saw me walking my motorbike and offered to push me to the nearby mechanic.</p>
  </article>
  <article>
    <p>A restaurant let me bring my dog inside.</p>
  </article>
  <article>
    <p>I bought a drink for the next person in line.</p>
  </article>
  <article>
    <p>I cleaned up the trash from others before leaving a local park.</p>
  </article>
  <article>
    <p>A friend came over to build flutes from bamboo in my yard, then surprised me and others by giving us the flutes he made.</p>
  </article>
</div>
