<div class="feed">
  <article class="post new_post">
    <a href="/new-kindness">
      <p><b>+</b></p>
      <span></span>
    </a>
  </article>

  <% @posts.each_pair do |_, post| %>
    <article class="post">
      <div class="post content">
        <p><%== post[:description] %></p>
      </div>
      <div class="post metadata">
        <p><%== format_likes_from(post[:liked_by]) %></p>
        <p>-- Comments go here --</p>
      </div>
    </article>
  <% end %>

  <article class="post">
    <p>I left some art made of flowers on a park bench.</p>
  </article>
  <article class="post">
    <p>Someone saw me walking my motorbike and offered to push me to the nearby mechanic.</p>
  </article>
  <article class="post">
    <p>A restaurant let me bring my dog inside.</p>
  </article>
  <article class="post">
    <p>I bought a drink for the next person in line.</p>
  </article>
  <article class="post">
    <p>I cleaned up the trash from others before leaving a local park.</p>
  </article>
  <article class="post">
    <p>A friend came over to build flutes from bamboo in my yard, then surprised me and others by giving us the flutes he made.</p>
  </article>
</div>
