<!DOCTYPE HTML>

<html lang="en-US">
  <head>
    <title>Random Acts of Kindness</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"            href="app.css">
    <link rel="apple-touch-icon"      sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"   href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"   href="/favicon_io/favicon-16x16.png">
    <link rel="manifest"                              href="/favicon_io/site.webmanifest">
  </head>

  <body>
    <header>
      <H1>Random Acts of Kindness</h1>

      <% if session[:message] %>
        <p><%= session.delete(:message) %></p>
      <% end %>

      <form action="/signup" method="get">
        <button type="submit">Sign Up</button>
      </form>

      <form action="/signin" method="get">
        <button type="submit">Sign In</button>
      </form>

      <form action="/signout" method="post">
        <button type="submit">Sign Out</button>
      </form>
    </header>

    <div>
      <%== yield %>
    </div>

    <footer>
      <p>All rights reserved.</p>
    </footer>
  </body>
</html>
