<h2>Share an Act of Kindness</h2>

<form action="/new_kindness" method="post">
  <label for="kindness">Describe your 
    <input type="text" name="description" value="kindness here">
  </label>

  <button type="submit">Submit</button>
</form>
