<div>
  <h2><%== @username %></h2>

  <ul>
    <% @profile.each do |attribute, value| %>
      <li>
        <p><b><%= attribute.capitalize %></b>: <%== value %></p>
      </li>
    <% end %>
  </ul>

  <div>
    <form action="/signout" method="post">
      <button type="submit">Sign Out</button>
    </form></p>
  </div>
</div>
