<div>
  <h2><%== @username %></h2>

  <ul>
    <% session[:users][@username].each do |attribute, value| %>
      <li>
        <p><b><%= attribute.capitalize %></b>: <%== value %></p>
      </li>
    <% end %>
  </ul>
</div>
