<div>
  <h2><%== @username %></h2>
  <div>
    <form action="/edit_profile" method="get">
      <button type="submit">Edit Profile</button>
    </form>

    <form action="/signout" method="post">
      <button type="submit">Sign Out</button>
    </form>
  </div>
</div>

<div class="feed">
  <article class="post new_post">
    <a href="/new-kindness">
      <p><b>+</b></p>
      <span></span>
    </a>
  </article>

  <% @posts.each_pair do |_, post| %>
    <article class="post">
      <div class="post content">
        <p><%== post[:description] %></p>
      </div>
      <div class="post metadata">
        <p><%== format_likes_from(post[:liked_by]) %></p>
        <p>-- Comments go here --</p>
      </div>
    </article>
  <% end %>
</div>
