<h2>Sign Up</h2>

<div class="form-box">
  <form action="/signup" method="post">

    <div class="form-box field">
      <label for="signup">Name:
        <input type="text" name="name" id="name" value="name">
      </label>
    </div>

    <div class="form-box field">
      <label for="signup">Email:
        <input type="text" name="email" id="email" value="email">
      </label>
    </div>

    <div class="form-box field">
      <label for="signup">Username:
        <input type="text" name="username" id="username" value="username">
      </label>
    </div>

    <div class="form-box field">
      <label for="signup">Password:
        <input type="text" name="password1" id="password1" value="password">
      </label>
    </div>

    <div class="form-box field">
      <label for="signup">Repeat Password:
        <input type="text" name="password2" id="password2" value="repeat password">
      </label>
    </div>

    <div class="field-button">
      <button type="submit">Submit</button>
    </div>

  </form>
</div>
