
<div class="feed">
  <article class="post new_post">
    <a href="/new-kindness">
      <p><b>+</b></p>
      <span></span>
    </a>
  </article>

  <% @posts.reverse_each do |post| %>
    <article class="post">
      <div class="post content">
        <p><%== post['description'] %></p>
      </div>
      <div class="post metadata">
        <p>Adam likes this kindness</p>
        <p>Beautiful!</p>
      </div>
    </article>
  <% end %>
</div>
