<div class="feed">
  <a href="/new-kindness">
    <article>
      <p><b>+</b></p>
    </article>
  </a>

  <% @posts.reverse_each do |post| %>
    <article>
      <p><%== post[:description] %></p>
    </article>
  <% end %>
</div>
