
<div class="feed">
  <article class="post new_post">
    <a href="/new-kindness">
      <p><b>+</b></p>
      <span></span>
    </a>
  </article>

  <% @posts.each_pair do |id, post| %>
    <article class="post">
      <div class="post content">
        <p><%== post[:description] %></p>
      </div>
      <div class="post metadata">
        <p>Liked by <%== post[:liked_by].join(', ') %></p>
        <p>-- Comments go here --</p>
      </div>
    </article>
  <% end %>
</div>
