<div class="feed">
  <article class="post new_post">
    <a href="/new-kindness">
      <p><b>+</b></p>
      <span></span>
    </a>
  </article>

  <% @posts.reverse_each do |post| %>
    <article class="post">
      <p><%== post['description'] %></p>
    </article>
  <% end %>
</div>
