body {
  background-color: teal;
}

.header {
  display:flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.title {
  display: flex;
}

.title img {
  margin: 20px 20px 0px 0px;
  height: 40px;
  width: 40px;
}

.auth_buttons {
  display: flex;
  gap: 10px;
  padding: 20px;
  text-align: right;
}

.profile_button img {
  margin: 20px 0px 0px 0px;
  height: 40px;
  width: 40px;
}

#message {
  background-color:  #8CC0A4;
  box-sizing: border-box;
  padding: 0px 0px 0px 1rem;
  margin: 0px 10px;
  color: #555;
}

.feed {
  display: inline-block;
  text-align: center;
}

article.post {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 1rem;
  width: 10rem;
  align-content: center;
  text-align: center;
}

article.post .description {
  background-color: #A8E4CB;
  box-sizing: border-box;
  padding: 1rem;
  height: 10rem;
  width: 10rem;
  align-content: center;
}

/* clips description to fit container */
article.post .description .preview {
  word-break:break-word;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* metadata container */
article.post .metadata {
  background-color: #84C7AB;
  box-sizing: border-box;
  display: grid;
  padding: 0rem 1rem 0.5rem 1rem;
  width: 10rem;
  font-size: 0.7rem;
  text-align: left;
}

/* metadata content */
article.post .metadata .line {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0rem;
}

/* post dimensions scale relatively */
article.post span {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* current post container */
div.current.post {
  display: flex;
  justify-content: center;
}

/* current post */
article.current.post {
  margin: 3rem;
  width: 60%;
}

/* current post content container */
article.current.post .description {
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 100%;
  width: 100%;
}

/* breaks up long words in description */
article.current.post .description .split {
  word-break:break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* current post metadata container */
article.current.post .metadata {
  position: relative;
  display: table;
  justify-content: start;
  padding: 1rem 1rem 0.5rem 1rem;
  width: 100%;
}

/* current post metadata left */
article.current.post .metadata .left {
  align-items: right;
}
/* current post metadata center */
article.current.post .metadata .center {
  padding: 0 1rem;
}

/* current post metadata right */
article.current.post .metadata .right {
  align-items: left;
}

/* current post comment field */
#comment-field {
  width: 100%;
}

/* current post comment lines */
td p {
  margin: 0 auto 0.5rem auto;
}

article.post.new_post {
  background-color: #93DEBE;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 1rem;
  height: 10rem;
  width: 10rem;
  vertical-align: top;
  align-content: center;
  text-align: center;
}

/* authentication */
.form-container {
  display: inline-block;
}

/* authentication */
.form-field {
  display: block;
  font-family: sans-serif;
  font-size: 1rem;
  text-align: right;
}

/* authentication */
.form-button {
  text-align: right;
}

footer div {
  margin: 2rem 0rem 1rem;
  padding: 2rem 0rem 1rem;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #CA5757;
}

footer p {
  margin-bottom: -1em;
  text-align: center;
  font-size: 0.7rem;
}
