body {
  background-color: teal;
}

.feed {
  display: inline-block;
  text-align: center;
}

article {
  display: inline-block;
  box-sizing: border-box;
  background-color: #93D7A0;
  padding: 0.5rem;
  margin: 1rem;
  height: 10rem;
  width: 10rem;
  vertical-align: top;
  align-content: center;
  text-align: center;
}

footer {
  text-align: center;
  font-size: 0.8rem;
}

.form-box {
  display: inline-block;
}

.field {
  display: block;
  text-align: right;
  font-family: sans-serif;
  font-size: 1rem;
}

.field-button {
  text-align: right;
}
