/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

 CSS reset complete */

body {
  background-color: teal;
}

.header {
  display:flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.title {
  display: flex;
}

.title img {
  margin: 20px 20px 0px 0px;
  height: 40px;
  width: 40px;
}

.auth_buttons {
  display: flex;
  gap: 10px;
  padding: 20px;
  text-align: right;
}

.profile_button img {
  margin: 20px 0px 0px 0px;
  height: 40px;
  width: 40px;
}

#message {
  background-color:  #8CC0A4;
  box-sizing: border-box;
  padding: 0px 0px 0px 1rem;
  margin: 0px 10px;
  color: #555;
}

.feed {
  display: inline-block;
  text-align: center;
}

article.post {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 1rem;
  width: 10rem;
  align-content: center;
  text-align: center;
}

article.post .content {
  background-color: #A8E4CB;
  box-sizing: border-box;
  padding: 1rem;
  height: 10rem;
  width: 10rem;
  align-content: center;
  overflow: hidden;;
}

/* metadata container */
article.post .metadata {
  background-color: #84C7AB;
  box-sizing: border-box;
  display: grid;
  padding: 0rem 1rem 0.5rem 1rem;
  width: 10rem;
  font-size: 0.7rem;
  text-align: left;
}

/* metadata content */
article.post .metadata .line {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0rem;
}

/* post dimensions scale relatively */
article.post span {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* current post container */
div.current.post {
  display: flex;
  justify-content: center;
}

/* current post */
article.current.post {
  margin: 3rem;
  width: 60%;
}

/* current post content container */
article.current.post .content {
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 100%;
  width: 100%;
}

/* current post metadata container */
article.current.post .metadata {
  position: relative;
  display: table;
  justify-content: start;
  padding: 1rem 1rem 0.5rem 1rem;
  width: 100%;
}

/* current post metadata left */
article.current.post .metadata .left {
  align-items: right;
}
/* current post metadata center */
article.current.post .metadata .center {
  padding: 0 1rem;
}

/* current post metadata right */
article.current.post .metadata .right {
  align-items: left;
}

/* current post comment field */
#comment-field {
  width: 100%;
}

/* current post comment lines */
td p {
  margin: 0 auto 0.5rem auto;
}

article.post.new_post {
  background-color: #93DEBE;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 1rem;
  height: 10rem;
  width: 10rem;
  vertical-align: top;
  align-content: center;
  text-align: center;
}

/* authentication */
.form-container {
  display: inline-block;
}

/* authentication */
.form-field {
  display: block;
  font-family: sans-serif;
  font-size: 1rem;
  text-align: right;
}

/* authentication */
.form-button {
  text-align: right;
}

footer div {
  margin: 2rem 0rem 1rem;
  padding: 2rem 0rem 1rem;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #CA5757;
}

footer p {
  margin-bottom: -1em;
  text-align: center;
  font-size: 0.7rem;
}
